* { 
    margin: 0;
    padding: 0;
}
body {
    background-color: #242038;
}
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ;
    color: #17d4ee;
    font-size: 60px;
    font-family: orbitron;
    letter-spacing: 7px;
}